/* Give your page a fun background color */

body {
    background-color: #c7ddcc
}

/* Make the header and footer a different color from the background */
/* Align the h1 containing your name in the center of the header*/
header {
    background: #75c9b7;
    text-align: center;
}

footer {
    background: #ffe26a;
}

/* Make your p tag a different color and italic */
p {
    font-style: italic;
    color:  #ed0b70;
}

/* Put a border around your image */

/* Change the font-family of your list */