/* Give your page a fun background color */

body {
    background-color: #c7ddcc;
    text-align: center;

}

/* Align the h1 containing your name in the center of the header*/
div.h1 {
    text-align: center;
    margin-top: 180px;

}

/* Make the header and footer a different color from the background */
header,
footer {
    background: #75c9b7;
    height: 60px;
    width: auto;
    padding-top: 15px;
}

/* Make your p tag a different color and italic */
p {
    font-style: italic;
    color: #16123f;
}

/* Put a border around your image */
img {
    border: 3px solid white;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;

}

/* Change the font-family of your list */
div.container {
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding-bottom: 40px;
    padding-top: 15px;

}

ul.facts {
    display: inline-block;
    text-align: left;
    margin-top: -10px;

}

h2 {
    display: flexbox;

}